{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss"
  ],
  "plugins": ["stylelint-scss", "stylelint-order"],
  "rules": {
    "selector-class-pattern": "^[a-z0-9\\-]+(__[a-z0-9\\-]+)?(--[a-z0-9\\-]+)?$",
    "selector-max-specificity": "0,3,0",
    "selector-max-id": 0,

    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["is", "has", "where"]
      }
    ],

    "max-nesting-depth": [
      3,
      {
        "ignore": ["pseudo-classes"],
        "ignoreAtRules": ["media", "supports", "layer", "include"]
      }
    ],

    "declaration-no-important": true,
    "declaration-block-no-redundant-longhand-properties": true,

    "color-hex-length": "short",
    "color-hex-alpha": "always",
    "comment-empty-line-before": null,

    "order/properties-alphabetical-order": true
  }
}
