<header class="header">
  <div class="header__content">

    <!-- Logo -->
    <a href="index.html" class="header__logo">
      <i class="fa fa-copyright"></i> Recetario Tradicional
    </a>

    <!-- Navigation -->
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item"><a href="speakers.html" class="header__nav-link">Participantes</a></li>
        <li class="header__nav-item"><a href="article.html" class="header__nav-link">Artículo</a></li>
        <li class="header__nav-item"><a href="contact.html" class="header__nav-link">Contacto</a></li>
      </ul>
    </nav>
    
  </div>
</header>