@use "variables" as v;
@use "functions" as f;

/* Reset styles */
@layer reset {
  * {
    box-sizing: border-box;
  }
}

/* Base styles */
@layer base {
  body {
    background-color: v.$color-background-primary;
    color: v.$color-text-primary;
    display: flex;
    flex-direction: column;
    font-family: v.$font-family-sans-serif;
    font-size: v.$font-size-base;
    line-height: v.$line-height-base;
    margin: 0;
    min-height: 100vh;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: v.$font-family-serif;
    font-weight: v.$font-weight-bold;
    line-height: v.$line-height-heading;
    margin-bottom: f.rem(16);
  }

  a {
    color: v.$color-accent;
    text-decoration: none;

    &:hover {
      color: v.$color-accent-hover;
      text-decoration: underline;
    }

    &:focus-visible {
      color: v.$color-accent-hover;
      outline: 2px solid v.$color-accent;
      outline-offset: 2px;
    }
  }

  p {
    margin-bottom: f.rem(16);
  }

  img,
  picture,
  video {
    display: block;
    height: auto;
    max-width: 100%;
  }

  main {
    flex-grow: 1;
    overflow-x: hidden;
  }
}