/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import dependencies
 */
@use "dependencies";


/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */
@use "base";
@use "layouts/header";
@use "layouts/home";
@use "layouts/speakers";
@use "layouts/article";
@use "layouts/contact";
@use "layouts/footer";

/**
 * Import components
 */
@layer reset, vendor, base, components;

/**
 * Do NOT include anything else in this file!
 */